

body {
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body p{
    font-size: 17px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: auto;
    height: 70px;
    word-spacing: 20px;

    background-image: linear-gradient(to right, darkgreen, rgb(95, 2, 95));
}

header h2 {
    font-size: 30px;
    margin-left: -150px;
    color: azure;
    
}
header a{
    color:azure;
    text-decoration: none;
    margin: auto;
    position: relative;
    padding: 1px;
}
header a::before{
    content: "";
position: absolute;
background-color: azure;
height: 1.5px;
top: 25px;
width: 0%;
transition: 00.3s;
}
header a:hover::before{
    width: 100%;
}

header nav {
    margin-right: -150px;


}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    flex-direction: column;
    margin: auto;
    height: 550px;
    background-image: linear-gradient(to right, rgb(192, 248, 192), rgb(255, 187, 255));


}
.puzir{
    height: 200px;
    margin-right: -1000px;
    width: 200px;
    animation: puzir 5s infinite linear;
    background-image: linear-gradient(to right, darkgreen, rgb(95, 2, 95));
opacity: 0.3;
}
@keyframes puzir {
    0%{
        border-radius: 140px  140px 150px 160px;
        transform:translateY(0px);
        opacity: 0.4;
    }
    50%{
        border-radius:140px  140px 150px 160px ;
        transform: translateY(+12px);
        opacity: 0.4;
    }

    100%{
        border-radius: 140px  140px 150px 160px;
        transform: translateY(0px);
        opacity: 0.4;
        
    }
    
}
/* .puzir2{ */
    height: 320px;
    width: 310px;
    background-image: linear-gradient(to right, darkgreen, rgb(95, 2, 95));
opacity: 0.5;
animation: puzir2 infinite linear 5s;
margin-right00px;
}
/* @keyframes puzir2 { */
    0%{
        opacity: 0.5;
        border-radius: 150px 130px 140px 150px;
        transform: translateY(0px);
    }
    50%{
        opacity: 0.5;
        border-radius: 150px 130px 140px 150px;
        transform: translateY(+13px);
    }
    100%{
        opacity: 0.5;
        border-radius: 150px 130px 140px 150px;
        transform: translateY(0px);
    }
    
}


.first h1 {
    font-size: 50px;
    letter-spacing: 1px;
color:transparent;   
padding: 10px;
margin:10px 200px;
background-clip: text;
    background-image: linear-gradient(to right, darkgreen, rgb(95, 2, 95));
animation: h1 1.2s forwards linear;
opacity: 0;
}
@keyframes h1 {
    0%{
        opacity: 0;
        
    }
    100%{
        opacity: 1;
        
    }
}

.first p {
    font-size: 20px;
    padding: 10px;
    margin: 10px 200px;
    opacity: 0;
    animation: p 1.6s forwards linear;
}
@keyframes p  {
    0%{
        opacity: 0;
        transform: translateY(+15);
    }
    100%{
        opacity: 1;
        transform: translateY(-15px);
    }
    
}

.first button {
    padding: 15px;
    border-radius: 25px;
    transition: 0.3s;
    border: none;
    outline: none;
    width: 180px;
    margin: 15px 0px;
    background-image: linear-gradient(to right, darkgreen, rgb(95, 2, 95));
    color: azure;
    font-size: 15px;
    animation: forwards linear 1.7s button;
    opacity: 0;
}
@keyframes button {
    0%{
        opacity: 0;
        
    }
    100%{
        opacity: 1;
    }
    
}

.first div {
    position: relative;
    left: -100px;
}

.first button:hover {
    transform: translateY(-10px);
    background-image: linear-gradient(to right, rgb(2, 128, 2), rgb(132, 3, 132));
}

.second h2 {
    width: 100%;
    text-align: center;
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    margin: auto;
    flex-wrap: wrap;


}

.second h2 {
    font-size: 40px;

}

.second div h3 {
    font-size: 25px;
}

.second div p {
    font-size: 18px;
}

.second div {
    width: 300px;
    border-radius: 20px;
    border:transparent 5px solid;
    background-image: linear-gradient(white, white), linear-gradient(darkgreen, purple);
    background-clip:  padding-box, border-box;
    background-origin:border-box;
    margin: 20px;
    padding: 20px;
    height: 265px;
    transition: 0.3s;
}

.krug {
    height: 60px;
    width: 60px;
    border-radius: 60px;
    background-image: linear-gradient(to right, darkgreen, rgb(95, 2, 95));
    display: flex;
    color: azure;
    font-size: 17px;
    margin: 10px 10px;
    justify-content: center;
    text-align: center;
    align-items: center;

}

.second div:hover {
    transform: translateY(-10px);
}

.third {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: auto;
    background-color: white;
    flex-direction: column;
}

.third h2 {
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.third div {
    height: 170px;
    background-color: beige;
    width: 650px;
    border-radius: 15px;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-image: linear-gradient(white, white), linear-gradient(to right, darkgreen, purple);
    border: transparent 5px solid;
    padding: 10px;
    margin: 50px 0px;
}

i {
    font-size: 18px;
    padding: 10px;
    text-align: center;
}

h4 {
    text-align: center;
}

.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;

}

.fourth h2 {
    font-size: 40px;
}

.fourth p {
    font-size: 18px;
    width: 600px;
}

.fourth button {
    padding: 15px;
    border-radius: 25px;
    transition: 0.3s;
    width: 180px;
    background-image: linear-gradient(to right, darkgreen, rgb(95, 2, 95));
    color: azure;
    font-size: 15px;
    border: none;
    outline: none;
    animation: forwards linear 1.7s button;
    opacity: 0;
}
@keyframes button {
    0%{
        opacity: 0;
        
    }
    100%{
        opacity: 1;
    }
    
}


.fourth button:hover {
    transform: translateY(-10px);
    background-image: linear-gradient(to right, rgb(2, 128, 2), rgb(132, 3, 132));

}

footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
    margin: auto;
    background-image: linear-gradient(to right, darkgreen, rgb(95, 2, 95));
    color: azure;
}

footer div {
    width: 500px;
    padding: 10px;
    margin: 5px;
}

footer h3 {
    font-size: 27px;

}

.du a:hover {
    transform: translateX(10px);
}

.du a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 5px;
    color: azure;
    transition: 0.3s;

}

.ya a:hover {
    transform: translateY(-10px);
}

.ya a {
    padding: 5px;
    transition: 0.3s;
    color: azure;

}
article{
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    background-image: linear-gradient(to right, darkgreen, rgb(95, 2, 95));
height: 80px;
border-top: solid azure 0.5px;
}
article h3{
    font-size: 13px;
}

@media screen and (max-width: 1024px) {
    .second div{
        margin: 5px;
        height: 290px;
        width: 240px;
        
    }
    .second div p{
        font-size: 17px;
    }
    
}

@media screen and (max-width: 768px) {
    .second div{
        height: 270px;
        width: 250px;
    }
    .first p{
        font-size: 17px;
        width: 65%;
    }
    .first h1{
        width: 65%;
    }
    .fourth p{
        font-size: 17px;
    }

    .second div p{
        font-size: 16px;

    }
    .third div i{
        font-size: 15px;
    }
    .third div{
        height: 130px;
        width: 600px;
        padding: 5px;
        position: relative;
        bottom: -70px;
    }
    .third h2{
        position: relative;
        bottom: -100px;
    }
}
@media screen and (max-width: 426px) {
    .first p{
font-size: 14px;
width: 100%;
padding: 0px 40px;

    }
    .first h1{
        font-size: 25px;
        width: 100%;
    padding: 30px 40px;
    }
    .first button{
        padding: 5.5px;
        width: 80px;
        font-size: 8.5px;
    }
    header h2{
        font-size: 20px;
        margin-left: -30px;
    }
    header a{
        font-size: 10px;


    }
    header nav{
    margin-right: -30px;

    }
    .first{
        
    }
    .second div p{
        font-size: 14px;
    
        outline: none;
        }
        .second div h3{
            font-size: 17px;
        }
        .second h2{
            font-size: 20px;
        }
        .krug{
            height: 40px;
            width: 40px;
            border-radius: 40px;
            background-image: linear-gradient(to right, darkgreen, rgb(95, 2, 95));
            display: flex;
            color: azure;
            font-size: 14px;
            margin: 1px 1px;
            justify-content: center;
            text-align: center;
            align-items: center;
        
        }
        .second div{
            width: 270px;
            height: 190px;
            padding: 10px;
    
        }
        .third h2{
            font-size: 20px;
            margin-top: -100px;
        }
        .third div i{
            font-size: 13.5px;
        }
        .third div{
            width: 330px;
    

        }
        .third h4{
            font-size: 13px;
        }
        .fourth h2{
            font-size: 20px;
        }
        .fourth p{
            font-size: 14px;
            width: 95%

        }
        .fourth div{
            margin: 15px;
        }
        .fourth button{
            padding: 5.5px;
            width: 80px;
            font-size: 8.5px;
        }
        footer p{
            font-size: 12px;
        }
        footer a{
            font-size: 12px;
        }
        footer h3{
            font-size: 17px;
        }
}
